<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="./styles/register.css" rel="stylesheet">

</head>

<body>
    <div id="container1">
        <form>
            <h1>Registrate</h1>

            <div style="display: flex; flex-direction: column; gap:20px ; margin-bottom: 22px;">
                <input placeholder="Nomnres" id="nombre" type="text" class="input" required="">
                <input placeholder="Apellidos" id="apellidos" type="text" class="input" required="">
                <input placeholder="Correo" id="correo" type="text" class="input" required="">
                <input placeholder="Contraseña" id="password" type="password" class="input" required="">
            </div>

            <button type="submit" class="btn"> Iniciar </button>

        </form>
    </div>
    <div id="container2" style="background-color: #CB0519;">
        <img src="./imagenes/registrate.png" width="450px" />
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();

        document.querySelector('form').addEventListener('submit', (e) => {
            e.preventDefault()
            const nombre = document.getElementById('nombre').value.toLocaleLowerCase()
            const apellido = document.getElementById('apellidos').value.toLocaleLowerCase()
            const correo = document.getElementById('correo').value
            const password = document.getElementById('password').value

            socket.emit('register', {
                nombre, apellido, correo, password
            })

        })


        socket.on('resRegist', value => {
            if (value.status === 500) {
                return window.alert(`Alerta ${value.msg}`)
            }

            if (value.status === 200) {
                socket.emit('desconect','')
                window.location.href = "/"
                return
            }
        })
    </script>

</body>

</html>